<!DOCTYPE html>
<html>
  <head>
    <title>StackAnswers</title>
    <style>
      * { font-family: monospace }
      div { position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); }
    </style>
  </head>
  <body>
    <div>
      <h1>StackAnswers</h1>
      <form action="" method="GET">
        <input name="q"{% if q %} value="{{ q }}"{% endif %}>
        <input type="submit" value="Search">
      </form>
      {% if result %}
        <pre>{{ result.0 }}</pre>
        <p><a href="{{ result.1 }}">{{ result.1 }}</a></p>
      {% endif %}
    </div>
  </body>
